<%= form_with(model: post_user) do |form| %>
  <% if post_user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post_user.errors.count, "error") %> prohibited this post_user from being saved:</h2>

      <ul>
        <% post_user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :post_id, style: "display: block" %>
    <%= form.text_field :post_id %>
  </div>

  <div>
    <%= form.label :User_id, style: "display: block" %>
    <%= form.text_field :User_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
