<p style="color: green"><%= notice %></p>

<%= render @post_user %>

<div>
  <%= link_to "Edit this post user", edit_post_user_path(@post_user) %> |
  <%= link_to "Back to post users", post_users_path %>

  <%= button_to "Destroy this post user", @post_user, method: :delete %>
</div>
