<!DOCTYPE html>
<html>
  <head>
    <title>NewDevise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <head>
  <style>
    header {
      background-color: lightyellow; 
      text-align: right; 
      padding: 20px; 
    }
    header p {
      margin: 0; /* デフォルトのマージンを削除 */
    }
  </style>

</head>
  <body>
    <header>
      <% if user_signed_in? %>
        <p> <%=link_to current_user.name ,mypage_path%>さん、ようこそ</p>
      <%else%>
        <p> ゲストさん</p>
      <% end %>
    </header>
    
    <%= yield %>
  </body>
</html>
